@using KvsProject.Domain
@using KvsProject.Domain.Enums;
@model IEnumerable<Central>
@{
    var date = ViewBag.Date;
}
@if (Model.Count() > 0 && Model != null)
{
    <div style="margin-bottom: 20px;">
        <p style="font-size: 15px; margin: 0;">
            <span class="badge badge-primary" style="font-size: 1.5em; margin-right: 8px; background-color: #4e73dfc7; border-radius: 100%;">@DateTime.Now.Day </span>
            @DateTime.Now.ToString("MMMM").ToUpper() @DateTime.Now.ToString("yyyy").ToUpper() @DateTime.Now.ToString("dddd").ToUpper()
        </p>
    </div>
    <div class="table-responsive">
        <table class="table" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #999ca6c7; color: white; text-align: center;">
                    <th style="padding: 10px; width: 5%;">Talebe No</th>
                    <th style="padding: 10px; width: 10%;">Talebe Adı</th>
                    <th style="padding: 10px; width: 10%;">Nereye Gidiyor</th>
                    <th style="padding: 10px; width: 10%;">Kimden İzin Aldı</th>
                    <th style="padding: 10px; width: 10%;">Çıkış Tarihi</th>
                    <th style="padding: 10px; width: 10%;">Geçen Süre</th>

                </tr>
            </thead>
            <tbody id="a">
                @foreach (var item in Model)
                {
                    var checkOutTime = item.CheckOutTime;
                    var statusColor = "#a0ce9d"; // Default renk
                    var elapsedTime = "";

                    if (checkOutTime.HasValue)
                    {
                        var checkOutDateTime = checkOutTime.Value;
                        var twoHoursAgo = checkOutDateTime.AddHours(2);

                        if (twoHoursAgo < date)
                        {
                            statusColor = "#e89292";
                        }

                        var timeElapsed = DateTime.Now - checkOutDateTime;
                        elapsedTime = $"{(int)timeElapsed.TotalHours} saat {(int)timeElapsed.Minutes} dakika";
                    }
                    <tr style="background-color: @statusColor; text-align: center;">
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@item.Student.Number</td>
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@item.Student.FullName</td>
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@item.ToWhere.GetDisplayName()</td>
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@item.Staff.GetDisplayName()</td>
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@item.CheckOutTime</td>
                        <td style="padding: 10px; font-weight: bold; font-size: 14px;">@elapsedTime</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>



}
else
{
    <span> Tüm Öğreciler Yurtta... </span>
}

