@{
    var user = ViewContext.HttpContext.Items["User"] as KvsProject.Domain.User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewBag.Title - KVS </title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link href="/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" />
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />

    @await RenderSectionAsync("styles", required: false)
</head>
<body id="page-top">

    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#000">

            <li class="m-0">
                <hr class="sidebar-divider my-0 mx-1" />
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ana Sayfa</span>
                </a>
            </li>
            
            <li class="m-0">
                <hr class="sidebar-divider d-none d-md-block" />
            </li>
            @if (user.UserType == KvsProject.Domain.Enums.UserType.ADMIN || user.UserType == KvsProject.Domain.Enums.UserType.CENTER)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Central/Index">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>İzinler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Guest/Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Misafirler</span>
                </a>
            </li>
            }
            @if (user.UserType == KvsProject.Domain.Enums.UserType.ADMIN)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/User/Index">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Kullanıcılar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Index">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Talebeler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#reportSubMenu">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Raporlar</span>
                    </a>
                    <div class="collapse" id="reportSubMenu">
                        <ul class="nav">
                            <li class="nav-item" style="width: 100%;height: 100%;">
                                <a class="nav-link" style="background: black; width: 100%;" href="/Report/Index">
                                    <span>Toplam İzin Süreleri</span>
                                </a>
                            </li>
                            <li class="nav-item" style="width: 100%;height: 100%; margin: 1px;">
                                <a class="nav-link" style="background: black; width: 100%; " href="/Report/Index2">
                                    <span>Mazeretli İzinliler</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            }


            <li class="m-0 text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" class="d-flex flex-column">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h1 class="h3 text-gray-800 pl-md-4 m-0"><i class="fas fa-arrow-circle-right text-warning d-none d-md-inline-block"></i> @ViewBag.Title</h1>


                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="alertsDropdown" role="button" data-toggle="dropdown">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">0</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <h6 class="dropdown-header">
                                    Bilgilendirme
                                </h6>
                                <div class="dropdown-item d-flex align-items-center">
                                    Bilgilendirme bulunmamaktadır
                                </div>
                            </div>
                        </li>

                        <li class="nav-item topbar-divider d-none d-sm-block">
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="userDropdown" role="button" data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(user?.Name) @(user?.Surname)</span>
                                <img class="img-profile rounded-circle" src="/images/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">

                                <a class="dropdown-item" href="/Home/Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid d-flex flex-column flex-grow-1">
                    <div class="content d-max-height">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Öğretici Bilişim Hizmetleri @(DateTime.Now.Year)</span><span class="d-none d-md-inline"> - </span><span class="d-block d-md-inline">Designed by <a href="" target="_blank"><img src="" /></a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script>
        window.addEventListener("pageshow", function (evt) {
            if (evt.persisted) {
                setTimeout(function () {
                    window.location.reload();
                }, 10);
            }
        }, false);</script>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/popper.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="/lib/autoNumeric.js"></script>
    <script src="/lib/jquery.mask.min.js"></script>
    <script src="/lib/moment-with-locales.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/loaders/blockui.min.js"></script>
    <script src="/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/app.js"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
